*{
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1{
  padding: 1.5rem;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dark-mode{
  background-color: black;
}
.dark-mode h1{
  color: white;
}
.note{
  background-color: rgb(207, 233, 248);
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
}
.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.note.new{
  background-color:rgb(247, 250, 185);

}
textarea{
  resize: none;
  border: none;
  background-color: rgb(247, 250, 185);
}
textarea:focus{
  outline: none;
}
.save{
  background-color: #ededed; 
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  
}
.save:hover{
  background-color:rgb(49, 150, 64);
  cursor: pointer;
  color:white;
}
.delete-btn{
   background-color: #efefef; 
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.delete-btn:hover{
  background-color: #f74848;
  color:white;
  cursor:pointer;
}
.search{
  display: flex;
  align-items: center;
  background-color: rgb(233,233,233);
  border-radius: 10px;
  padding: 5px;
  height: 2em;
  margin-bottom: 1.5em;
}
.search input{
  border: none;
  background-color: rgb(233,233,233);
  width: 100%;
  margin: 0 10px;
}
.search input:focus{
  outline: none;
} 